.footer {
  background: #1e3a8a;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 60px 30px 30px 30px;
}
h3, h4 {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}
.footer-container {
  max-width: 1300px;
  margin: auto;
}

/* Top Cards */
.footer-top {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 50px;
}

.footer-card h3 {
  font-size: 20px;
  color: #ef4444;
  margin-bottom: 15px;
}

.footer-flex {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.footer-icon {
  height: 40px;
  width: 60px;
  color: #f3f4f6;
}

.footer-info p {
  font-size: 18px;
  margin-bottom: 5px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Middle Section */
.footer-middle {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  margin-bottom: 50px;
}

.footer-middle h4 {
  font-size: 18px;
  color: #ef4444;
  margin-bottom: 10px;
}

.footer-about p,
.footer-services ul li,
.footer-hours ul li {
  font-size: 18px;
  margin-bottom: 8px;
  line-height: 1.5;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.footer-services ul a:hover {
  cursor: pointer;
  color: #ef4444;
  transition: 0.3s;
}

.footer-contact-links a {
  margin-right: 16px;
  color: white;
  font-size: 20px;
  transition: 0.5s;
  border: 3px solid #ef4444;
  border-radius: 8px;
  padding: 8px 10px;
}



.footer-contact-links a:hover {
  color: #ef4444;
  border-color: white;
  transition: 0.5s;
}

.footer-services ul {
  list-style: none;
  padding: 0;
  text-decoration: none;
}

.footer-services ul  a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
} 
.footer-services ul li {
  display: flex;
  align-items: center;
  gap: 6px;
}

.footer-tags .tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.footer-tags .tag {
  border: 1px solid white;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.footer-tags .tag:hover {
  background: #ef4444;
  border-color: #ef4444;
  font-size: 18px;
  transform: scale(1.05);
}

.footer-hours ul {
  list-style: none;
  padding: 0;
}

/* Bottom */
.footer-bottom {
  border-top: 1px solid #ef4444;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  font-family: serif;
  color: #f3f4f6;
}

/* Responsive */
@media(max-width:768px){
  .footer-top {
    flex-direction: column;
  }
  .footer-middle {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width:480px){
  .footer-middle {
    grid-template-columns: 1fr;
  }
  .footer-flex {
    flex-direction: column;
    gap: 10px;
  }
}
